@font-face {
    font-family: 'titles';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'text';
    src: url('../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
}


:root {
    --color-nav: ;
    --primaryTitle-font: 'titles', sans-serif;
    --primaryParraf-font: 'text', 'sans-serif';
    --orange-color: #f60
}

* {
    margin: 0;
}

.main {
    width: 100%;
    margin: 0 !important;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.banner {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.banner h1 {
    position: absolute;
    color: white;
    font-size: 4em;
    text-align: center;
    z-index: 1;
}

.graduados-section {
    padding: 20px;
    text-align: left;
    padding-top: 50px;
}

.graduados-section h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(236, 86, 5);
    
}

.graduados-section p {
    max-width: 890px;
    margin: 0 auto 20px auto;
}
.graduados-section ul {
    list-style-type: disc;
    max-width: 800px;
    margin: 0 auto 20px auto;
}
.graduados-section p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.graduados-section strong{
    color: rgb(255, 55, 10);
}


.carousel {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.slick-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px; /* Agrega espacio entre las imágenes */
}

.slick {
    min-width: calc(25% - 10px); /* Ajusta el ancho para incluir el espacio */
    box-sizing: border-box;
}

.slick img {
    width: 100%;
    height: 350px;
    display: block;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(2, 2, 2, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.slick-prev {
    left: 10px;
    background-color: rgb(65, 61, 59);
}

.slick-next {
    right: 10px;
    background-color: rgb(65, 61, 59);
}

.educacion{
    background-color: rgb(69, 176, 248);
    
}
.educacion h1{
    text-align: center;
    padding-top: 25px;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    
    
}
             
.educacion h2{
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 600;
    color: white;
}


.continua {
    display: flex;
    
}

.imagen-contenedor {
    position: relative;
    width: 100%;
    overflow: hidden; /* Para ocultar cualquier contenido que se desborde */
}

.imagen-contenedor img {
    height: 700px;
    width: 100%;
    transition: transform 0.3s;
}

.imagen-contenedor:hover img {
    transform: scale(1.1);
}

.texto-hover {
    position: absolute;
    top: 50%;
    left: 45%;
  

    color: white;
    font-size: 2.5rem;
    font-family: 'titles';
}

.texto-hover h1{

    justify-content: center;
    text-align: center;
}


