@font-face {
    font-family: 'titles';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'text';
    src: url('../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

:root {
    --color-nav: ;
    --primaryTitle-font: 'titles', sans-serif;
    --primaryParraf-font: 'text', 'sans-serif';
    --orange-color: #f60
}

* {
    margin: 0;
}

.main {
    width: 100%;
    margin: 0 !important;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.options {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 15px;
}

.options_2 {
    display: none;
    opacity: 1;
    /* También puedes añadir otros estilos de transición aquí */
    transition: opacity 10s;
    /* Transición de desvanecimiento de 0.3 segundos */
}

nav .options a {
    font-family: var(--primaryParraf-font);
    font-weight: 400;
    font-size: 12px;
}

nav .options a:hover {
    color: var(--orange-color);
    text-decoration: underline;
    transition: 0.3s;
}

nav .options i {
    color: var(--orange-color);
}

#bars {
    display: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e5357;
}

.contain_footer {
    width: 95%;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

footer>* {
    color: white;
}

footer a {
    color: var(--orange-color);
    text-decoration: underline;
}



.footer_top {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.leftInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}

.leftInfo img {
    width: 70%;
    object-fit: cover;
}

.rightInfo {
    background-color: #707070;
    border-radius: 15px;
    padding: 20px;
    width: 60%;

}

.leftInfo p {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}

.content_sedes {
    display: flex;
    justify-content: space-around;
}

.content_sedes h1 {
    color: var(--orange-color);
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.bogota,
.villavicencio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content_sedes p {
    font-weight: 600;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
    font-family: var(--primaryParraf-font);
}

.slogan {
    display: flex;
    gap: 15px;
}

.slogan #log {
    width: 90px;
    height: 110px;
}

.redes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.redes h2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.icons {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.icons a {
    text-decoration: none;
    color: white;
}

.icons i {
    font-size: 20px;
}

.footer_bottom {
    margin-top: 20px;
}

.title h1 {
    color: var(--orange-color);
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.links {
    display: flex;
    justify-content: start;
    gap: 25px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.links a:hover {
    color: var(--orange-color);
    text-decoration: underline;
    transition: 0.5s;
}

h1 {
    font-family: var(--primaryTitle-font);
    font-weight: bold;
}

p {
    font-family: var(--primaryParraf-font);
    font-weight: 200;
}

/*oferta*/
.oferta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    gap: 10px;
}

.options_ofertas {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card_ofert {
    width: 18%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card_ofert a {
    color: white;
    font-family: var(--primaryParraf-font);
    font-weight: bold;
}

.card_ofert:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.card_ofert:hover a {
    color: var(--orange-color);
    transition: 0.3s;
}

#op_1 {
    background-image: url('../img/Educacion\ Complementaria.png');
    background-size: cover;
    background-position: top;
}

#op_2 {
    background-image: url('../img/Posgrado.png');
    /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: top;
}

#op_3 {
    background-image: url('../img/pregado.jpeg');
    /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
}

#op_4 {
    background-image: url('../img/Sena.png');
    /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
}

#op_5 {
    background-image: url('../img/Tecnico\ laboralU.png');
    /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
}

.oferta h1 {
    font-family: var(--primaryTitle-font);
    font-weight: bold;
    color: var(--orange-color);
    font-size: 21px;
    margin-bottom: 15px;
}
.whatsapp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:  var(--orange-color);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
}

.whatsapp-button:hover {
    background-color: #25D366;
    transition: 0.5s;
}


@media screen and (min-width: 200px) and (max-width: 320px) {
    .contain_footer {
        width: 100%;
        box-sizing: border-box;
    }

    .footer {
        box-sizing: border-box;
        padding: 10px;
    }

    .footer_top {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .leftInfo,
    .rightInfo {
        width: 100%;
    }

    .leftInfo img {
        width: 100%;
    }

    .leftInfo p {
        font-size: 12px;
        line-height: 22px;
        padding-right: 20px;
        text-align: left;
    }

    .leftInfo a {
        font-size: 12px;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .rightInfo {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 5px 5px 10px #3f3f3f;
    }

    .content_sedes {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .content_sedes h1 {
        margin-bottom: 5px;
    }

    #log {
        width: 30% !important;
    }

    hr {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .links a {
        font-size: 12.5px;
    }

    /*oferta*/
    .oferta {
        padding: 10px;
    }

    .options_ofertas {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .card_ofert {
        width: 100%;
        height: 250px;
    }

    .options {
        display: none;
    }

    #bars {
        display: block;
        font-size: 25px;
        margin-right: 15px;
        color: var(--orange-color);
    }

    .logo {
        width: 50%;
    }

    .show {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--orange-color);
        border-bottom: 1px solid var(--orange-color);
        padding: 15px;
        gap: 15px;
        box-sizing: border-box;
        margin-bottom: 15px;
        opacity: 1;
    }

    .options_2 a {
        font-size: 12px;
        font-family: var(--primaryParraf-font);
        font-weight: 600;
    }

    .options_2 a:hover {
        color: var(--orange-color);
        text-decoration: underline;
        transition: 0.3s;
    }
}

@media screen and (min-width: 321px) and (max-width: 520px) {
    .contain_footer {
        width: 100%;
        box-sizing: border-box;
        margin: 10px;
    }

    .footer {
        box-sizing: border-box;
        padding: 10px;
    }

    .footer_top {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 30px;
    }

    .leftInfo,
    .rightInfo {
        width: 100%;
    }

    .leftInfo img {
        width: 70%;
    }

    .leftInfo p {
        font-size: 13px;
        line-height: 22px;
        padding-right: 20px;
        text-align: left;
    }

    .leftInfo a {
        font-size: 13px;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .rightInfo {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 5px 5px 10px #3f3f3f;
    }

    .content_sedes {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .content_sedes h1 {
        margin-bottom: 5px;
    }

    #log {
        width: 30% !important;
    }

    hr {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .links a {
        font-size: 13.5px;
    }

    /*oferta*/
    .oferta {
        padding: 10px;
    }

    .options_ofertas {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .card_ofert {
        width: 100%;
        height: 250px;
    }
    .options {
        display: none;
    }

    #bars {
        display: block;
        font-size: 25px;
        margin-right: 15px;
        color: var(--orange-color);
    }

    .logo {
        width: 50%;
    }

    .show {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--orange-color);
        border-bottom: 1px solid var(--orange-color);
        padding: 15px;
        gap: 15px;
        box-sizing: border-box;
        margin-bottom: 15px;
        opacity: 1;
    }

    .options_2 a {
        font-size: 12px;
        font-family: var(--primaryParraf-font);
        font-weight: 600;
    }

    .options_2 a:hover {
        color: var(--orange-color);
        text-decoration: underline;
        transition: 0.3s;
    }
    .slogan #log {
        width: 90px;
        height: 150px;
    }
    .slogan img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
    .contain_footer {
        width: 100%;
        box-sizing: border-box;
        margin: 10px;
    }

    .footer {
        box-sizing: border-box;
        padding: 10px;
    }

    .footer_top {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 30px;
    }

    .leftInfo,
    .rightInfo {
        width: 100%;
    }

    .leftInfo img {
        width: 60%;
    }

    .leftInfo p {
        font-size: 14px;
        line-height: 22px;
        padding-right: 20px;
        text-align: left;
    }

    .leftInfo a {
        font-size: 14px;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .rightInfo {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 5px 5px 10px #3f3f3f;
    }

    .content_sedes {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .content_sedes h1 {
        margin-bottom: 5px;
        font-size: 22px;
    }

    #log {
        width: 30% !important;
    }

    hr {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .links a {
        font-size: 14px;
    }

    .redes h2 {
        font-size: 20px;
    }

    .content_sedes p {
        font-size: 14.5px;
    }

    .title h1 {
        font-size: 22px;
    }
    .options {
        display: none;
    }

    #bars {
        display: block;
        font-size: 25px;
        margin-right: 15px;
        color: var(--orange-color);
    }

    .logo {
        width: 30%;
    }

    .show {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--orange-color);
        border-bottom: 1px solid var(--orange-color);
        padding: 15px;
        gap: 15px;
        box-sizing: border-box;
        margin-bottom: 15px;
        opacity: 1;
    }

    .options_2 a {
        font-size: 12px;
        font-family: var(--primaryParraf-font);
        font-weight: 600;
    }

    .options_2 a:hover {
        color: var(--orange-color);
        text-decoration: underline;
        transition: 0.3s;
    }
    .slogan #log {
        width: 90px;
        height: 150px;
    }
    .slogan img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .contain_footer {
        box-sizing: border-box;
    }

    .footer_top {
        box-sizing: border-box;
        gap: 25px;

    }

    .leftInfo {
        width: 50%;
    }

    .leftInfo img {
        width: 100%;
    }

    .leftInfo p,
    a {
        line-height: 2;
        font-size: 14px;
    }

    .icons {
        gap: 5px;
    }

    .rightInfo {
        width: 50%;
        box-sizing: border-box;
        padding: 15px;
    }

    .content_sedes {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .content_sedes h1 {
        margin-bottom: 5px;
    }

    .content_sedes p {
        font-weight: 600;
        font-size: 14px;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .links a {
        font-size: 12px;
    }
    .logo{
        width: 20%;
    }
}
.banner img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.color-toggle-button{
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    /* bottom: 10px; */
    right: 20px;
    background-color: #fff;
    /* color: white; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* text-align: center; */
    font-size: 30px;
    box-shadow: 2px 2px 5px rgb(58 58 58 / 68%);
    z-index: 1015;
    top: 50%;
}

/* Estilos para el modo de colores daltónicos */
.color-blind-mode {
    background-color:  #6b6b6b; /* Color de fondo accesible */
    color: #0056b3; /* Color de texto accesible */
}

/* Puedes agregar más estilos para elementos específicos si es necesario */
.color-blind-mode .some-element {
    color: #0056b3;
}


.title-daltonic{
   color: rgb(0, 0, 211) !important;
}

.title-daltonic2{
    color: rgb(0, 0, 211) !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black
 }
.title-daltonic a:hover {
    color: rgb(0, 0, 211) !important;
    text-decoration: underline;
    transition: 5s;
}

.icon-change{
    color: rgb(0, 0, 211) !important;
}
.icon-w{
    background-color: rgba(0, 0, 211, 0.705) !important;
}
#logo_change{
    display: none;
}
.logo_changeShow{
    display: flex !important;
}
.logo_changeHide{
    display: none !important;
}
.backgroundN{
    background-color: #585858;
}

.darkimg{
    filter: brightness(70%);
}